/* Based on code at http://bl.ocks.org/fabiovalse/dfcd8104a79aed092af1
  Modified by Andrew Su on 2016-06-11 */ 


body {
  background: white;
}

circle {
	stroke-width: 50px;
	fill: red;
	opacity: 0.1;
}

.student {
	fill: #70A0BF;
}

.postdoc {
	fill: #2D6891;
}

.company {
	fill: #DC4C1A;
}
